body {
  color: #fff;
  background-color: #000;

  font-family: 'Raleway', sans-serif;
}

.title {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
